@import url('https://fonts.googleapis.com/css?family=Fresca|Open+Sans');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

@import 'colors';


@import "../../node_modules/bulma/sass/utilities/initial-variables";
@import "../../node_modules/bulma/sass/utilities/functions";

$primary: $color-primary-4;
$link: $color-primary-3;
$link-hover: $color-primary-2;
$info: $color-primary-3;
$family-sans-serif: 'Open Sans', sans-serif;
//$danger: $color-secondary-1-2;
$grey-dark: $color-primary-5;
$text: $color-primary-5;

@import '../../node_modules/bulma/bulma';

h1, h2, h3, h4 {
  font-family: 'Fresca', sans-serif;
}
.content {
  h1, h2, h3, h4 {
    font-weight: normal;
    color: $grey-dark;
  }
}
.footer {
  h1, h2, h3, h4 {
    font-weight: bold;
  }
}

.title {
  font-size: 1.75rem;
  color: $color-primary-4;
  //color: $color-secondary-2-3;
  font-weight: normal;
}

.navbar {
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: $color-primary-3;
  font-size: 1.1rem;
  .navbar-menu {
    background-color: $color-primary-3;
  }
  h1.title {
    font-weight: bold;
    //color: $color-primary-0;
    color: white;
    font-size: 2rem;
  }
  .navbar-brand {
    align-items: center;
  }
  .navbar-start {
    margin-left: 50px;
  }
  .navbar-dropdown {
    background-color: $color-primary-3;
  }
  .burger {
    color: white;
  }
  .navbar-link {
    &:hover {
      color: $color-primary-2 !important;
    }
    &:after {
      border-color: $color-primary--1;
    }
  }
  a.navbar-item {
    color: white;
    font-weight: bold;
    &:hover {
      color: $color-primary-2;
    }
    &.is-active {
      color: $color-primary--1;
      //color: $color-secondary-2-3;
    }
  }
  .navbar-item {
    .navbar-link  {
      font-size: 1rem;
      cursor: default;
      font-weight: bold;
      color: white;
    }
    &:hover {
      .navbar-link  {
        color: $color-primary-2;
      }
    }
  }

}


@media screen and (max-width: 500px) {
  .navbar-brand .navbar-item h1.title {
    font-size: 1.65rem;
  }
}

@media screen and (min-width: 1087px) {
  .navbar {
    .navbar-menu {
      padding-right: 1.5em;
    }
  }
}
@media screen and (max-width: 1087px) {
  .navbar {
    .navbar-menu {
      border-top: 1px solid $color-primary-1;

      .navbar-item {
        .navbar-item {
          padding-left: 2.5rem;
        }
        .navbar-link {
          padding-right: 1rem;
          font-size: 1.2rem;
        }
        div.navbar-link {
          cursor: default;
          font-weight: normal;
          color: #999;
        }
        .navbar-dropdown {
          font-size: 1.2rem;
          padding-bottom: 1.0rem;
          padding-top: 0rem;
          margin-bottom: .5rem;
        }
      }
      div.navbar-link:hover {
        background-color: transparent;
      }
    }
  }
}


$radial-gradient: radial-gradient(
  //circle, #ffeda3, #ffc800
  //circle, #fff69b, #ffd200

  //transparentize($color-complement-1, 0.5) 21%,transparentize($color-complement-1, 0.1) 51%,transparentize($color-complement-1, 0.8) 81%,$color-primary-3 100%
  circle, #fff69b 21%,#ffeda3 51%,#ffc800 81%,$color-primary-3 100%
);
//$linear-gradient: linear-gradient(
//  121deg, $color-primary-3 0%,
//  //transparentize($color-complement-1, 0.8) 21%,
//  //transparentize($color-complement-1, 0.1) 51%,
//  //transparentize($color-complement-1, 0.8) 81%,
//                #ffeda3 20%,
//                #ffc800 50%,
//                #ffeda3 80%,
//  $color-primary-3 100%
//);

.hero.is-info.is-bold {
  .title {
    color: $color-primary-4;
  }
  color: $color-primary-4;
  padding-top: 25px;
  background-image: $radial-gradient;
  //background-image: linear-gradient(141deg, $color-primary-1 0%, $color-primary-2 31%, $color-primary-1 100%);
  //background-image: linear-gradient(141deg, $color-secondary-2-1 0%, $color-secondary-2-2 31%, $color-secondary-2-3 100%);
  //background-image: linear-gradient(141deg, $color-complement-1 0%, $color-complement-2 31%, $color-complement-3 100%);
}


h3 {
  font-size: 1.5rem;
}

//.top-bar {
//  .navbar {
//    a { color: white !important; }
//    background-color: $color-primary-4;
//  }
//}



.footer-credits {
  color: white;
  background: $color-primary-4;
  a {
    color: $color-primary--1;
    //color: $color-complement-1;
    &:hover {
    color: $color-primary-1;
      //color: $color-complement-2;
    }
  }
}

.footer-nav {
  background: $color-primary-3;
  //background-image: $linear-gradient;

  //background-image: linear-gradient(141deg, #4393C7 0%, #1D81C2 31%, #4393C7 100%);
  color: white;
  a {
    color: $color-primary--1;
    //color: $color-complement-1;
    &:hover {
      color: $color-primary-1;
      //color: $color-complement-2;
    }
  }
}

.container {
  //max-width: 1024px;
}

.column {
  padding: 1rem;
}



.hero .hero-body {
  //background-color: transparentize($color-primary-4, 0.8);
  padding: 2.25rem 1.5rem 1rem 1.5rem;
  //text-shadow: 1px 1px white, -1px 1px white, 1px -1px white, -1px -1px white;
  text-shadow: 0px 0px 3px transparentize($color-complement-1, 0.3);
  //text-shadow: 1px 1px transparentize($color-complement-1, 0.8), -1px 1px transparentize($color-complement-1, 0.8), 1px -1px transparentize($color-complement-1, 0.8), -1px -1px transparentize($color-complement-1, 0.8);
  section {
    padding-top: 2rem;
    padding-bottom: 1rem;
  }
}


li > p:last-child {
  margin-bottom: 1.5rem;
}
